main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}
body {
  font-family: "Helvetica Neue";
  line-height: 1.6;
  color: #222;
  padding: 2rem;
  margin: auto;
  background: #fafafa;
}
img {
  max-width: 100%;
}
a {
  color: #2ecc40;
}
h1,
h2,
strong {
  color: #111;
}
